@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font-color white*/
body {
  color: rgb(238, 233, 233);
}

.custom-card-image .card.image-full::before {
  border-radius: 0.5rem;
  opacity: 0.5;
}

.card.image-full > .card-body {
  color: white;
}
